<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">

            <form [formGroup]="productTable">
              <table class="table table-border" [ngClass]="{'table-dark': mode}">
                <thead class="text-nowrap">
                <th>Name <span class="ui-column-resizer"> </span></th>
                <th>Email<span class="ui-column-resizer"> </span></th>
                <th>Date Of Birth<span class="ui-column-resizer"> </span></th>
                <th>Blood Group<span class="ui-column-resizer"> </span></th>
                <th>Mobile Number</th>
                <th></th>
                </thead>
                <tbody>
                <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
                  <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
                    <td>

                      <input class="form-control"*ngIf="group.get('id').value!=null"  type="text" formControlName="id">
                      <input class="form-control"*ngIf="group.get('id').value==null"  type="text" formControlName="id">

                    </td>
                    <td>

                      <input class="form-control"type="text" formControlName="designation">

                    </td>
                    <td>

                      <input class="form-control"type="text" formControlName="prix">

                    </td>
                    <td>

                      <input class="form-control"type="text" formControlName="referenceArticle">

                    </td>
                    <td>

                      <input class="form-control" type="text" formControlName="stock">

                    </td>
                    <td class="d-flex">
                      <button type="button" class="btn btn-outline-danger mr-1 " (click)="deleteRow(i)">delete</button>
                      <button type="button" class="btn btn-outline-secondary mr-1" (click)="doneRow(group)">edit</button>
                    </td>
                  </tr>
                  <tr *ngIf="!group.get('isEditable').value">
                    <td>
                      {{group.get('id').value}}
                    </td>
                    <td>
                      {{group.get('designation').value}}
                    </td>
                    <td>
                      {{group.get('prix').value}}
                    </td>
                    <td>
                      {{group.get('referenceArticle').value}}
                    </td>
                    <td>
                      {{group.get('stock').value}}
                    </td>
                    <td>
                      <button type="button" class="btn btn-outline-primary mr-1" (click)="editRow(group)">edit</button>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
              <div class="action-container">
                <button type="submit" class="btn btn-outline-primary mr-1" (click)="addRow()">Add row</button>
                <button  type="submit" class="btn btn-outline-secondary" (click)="submitForm()">Submit</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
