

<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">

      <img style="padding: 10%;" src="assets/images/user.png">
    </div>

    <!-- Login Form -->
    <form  [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">


      <div class="form-group">
        <input type="password" id="password" class="form-control"  name="login" placeholder="Ancien mote de passe"
               formControlName="oldPassword"
               [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
        >
        <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required">password is required</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" id="password" class="form-control"  name="login"
               placeholder="Nouveau mote de passe"
               formControlName="newPassword"
               [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
        >
        <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required">password is required</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" id="password" class="form-control"  name="login"
               placeholder="Confirmation de mote de passe"
               formControlName="checkNewPassword"
               [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
        >
        <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required">password is required</div>
        </div>
      </div>
      <input type="submit" class="fadeIn fourth" value="validation">


      <!-- <button class="btn btn-primary">Log In</button>-->
    </form>




  </div>
</div>
