

<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2>Register Account </h2>


    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="Nom" placeholder="Nom">
      <input type="text" id="prenom" class="fadeIn second" name="Prenom" placeholder="Prenom">
      <input type="text" id="user-name" class="fadeIn second" name="Nom d'utilisateur" placeholder="nom d'utilisateur">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Mots de passe">
      <input type="password" id="confirm-password" class="fadeIn third" name="login" placeholder="Confirmez le mot de passe ">
      <input type="text" id="adress" class="fadeIn second" name="adresse" placeholder="Adresse">
      <input type="text" id="mail" class="fadeIn second" name="Email" placeholder="email">
      <input type="text" id="ville" class="fadeIn third" name="ville" placeholder="Ville">
<!--       <input type="text" id="Télephone" class="fadeIn third" name="tele" placeholder="telephone"> -->
    <input type="tel" id="phone" name="phone" class="fadeIn third"  pattern="[0-9]{4}-[0-9]{6}" required placeholder="Télephone"> 

      <input type="submit" class="fadeIn fourth" value="Validation">
    </form>
    <!-- card.// -->
    <!-- Remind Passowrd -->
    <!--    <div id="formFooter">
       <a class="underlineHover" >Validation</a>
       <a class="underlineHover" href="#">Forgot Password?</a>
    </div> -->


  </div>
</div>
